/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#pl-patterns > .pl-pattern {
  margin: 1em !important;
  padding: 0 !important;
  border-bottom: 1px solid #333 !important;
}

#pl-patterns > .pl-pattern > .pl-snippet-styled {
  padding: 0 !important;
  margin: 0 !important;
  border: 1px solid #ccc !important;
  position: relative !important;
  overflow: hidden !important;
}
