<h1>Patterns</h1>

<div id="pl-patterns">
  <% @patterns.each do |pattern| %>
    <div class="pl-pattern">
      <pre class="pl-snippet"><%= pattern.snippet %></pre>
      <div class="pl-snippet-styled">
        <%= pattern.snippet.html_safe %>
      </div>
    </div>
  <% end %>
</div>
