<h1>Patterns</h1>

<div id="pl-patterns">
  <% @patterns.each do |pattern| %>
    <%= render pattern %>
  <% end %>
</div>

<div id="pl-actions">
  <p><%= link_to 'Create Pattern', new_pattern_path %></p>
</div>
